/*
    Header
*/

.hero {
    background: url("../img/bg-3.jpg") 0 center;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}
    .hero h1 {
        font-size: 39px;
        text-transform: uppercase;
    }

    .hero p {
        line-height: 1.5;
        max-width: 50%; 
    }


a, header a:hover { text-decoration: none; }
a:hover { text-decoration: underline; }

header a {
    color: #333;
}

.main-menu {
    margin: 0;
    padding-left: 0;
    text-align: right;
    font-size: 14px;
}
    .main-menu a:hover {
        background-color: #eee;
    }

    .main-menu > li {
        display: inline-block;
        position: relative;
    }

        .main-menu > li > a {
            padding: 15px;
            display: inline-block;
        }


.dropdown {
    position: absolute;
    right: 0;
    padding-left: 0;
    text-align: left;
    list-style: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-width: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
}

    .dropdown li a {
        display: block;
        padding: 10px 25px;
        min-width: 100px;
    }

.main-menu > li:hover .dropdown {
    display: block;
}


/*
    Services
*/
.services h1 {
    font-weight: 400;
    margin-top: 80px;
}
.services hr {
    border-top: 1px solid #eee;
    border-bottom: 0;
}
.services h3 {
    color: #333;
    font-weight: 400;
}

.services .services__text {
    width: 80%;
    margin: 30px auto;
}

.services ul {
    list-style: none;
    padding-left: 0;
}


/*
    Get in touch
*/

.contact__block {
    margin-top: 30px;
}

    .contact__block button {
        margin-top: 20px;
    }

    .contact__block input, .contact__block select {
        padding: 5px;
    }

    .contact__block-text {
        margin-top: 3px;
        padding-right: 50px;
    }

.form-label {
    display: inline-block;
    min-width: 100px;
}

.form-group {
    margin-bottom: 15px
}

.m-right-10 {
    margin: 10px;
}

textarea {
    width: 75%;
}

footer {
    min-height: 300px;
}